body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fbeef6;
    /* background-color: #f4fff8; */
    /* background-color: #8baaad; */
}

.bi,
#personalInfoFields,
#eventLocation,
#eventInterested,
#numberAttending,
#eventName,
#eventTimeDate,
#eventLocation,
#eventType,
#eventRSVP,
#eventPeople,
#eventHost,
#eventTime,
#eventDescription,
#eventImage,
#footerButtons,
#goBackButton,
#eventNameCreation,
#eventDate,
#deleteButton,
#userInfo,
#userName,
#profileButton,
#eventReminder,
#userInfo,
.btn-danger {
    padding-left: 5px;
    padding-right: 5px;
}

.card-image {
    border-radius: 5px;
}

#searchField {
    width: auto;
}

.mainTitle {
    font-size: 30pt;
    font-weight: 550;
}

.card-title {
    font-size: 30px;
}

#creationTitle,
#eventName {
    text-align: center;
}

.list-group-item {
    background-color: #6a994e;
    width: 100%;
    text-align: center;
}

.eventCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.card-coordinates {
    display: none;
}



.navbar {
    /* background-color: #60d394; */
    background-color: #CDD9FF;
    width: 100%;
    height: 80px;
    overflow: hidden;
    font-size: 20px;
    top: 0px;
    padding: 14px;

}



.searchButton {
    vertical-align: auto;
    float: left;
    /* top: 50%;
    bottom: 50%; */
}

.filterButton {
    vertical-align: auto;
    float: right;
    

}

#eventCreationButton {
    /* background-color: #4eb2d6; */
    background-color: #f7455a;
    /* height: auto; */
    position: fixed;
    height: 70px;
    width: 70px;
    margin-bottom: 3.75em;
    margin-left: 5px;
    border-radius: 45px;
    text-align: center;
    display: flex;
}

.bi-plus {
    
    display: flex;
    margin-left: 10px;
    margin-top: 16px;
    font-size: 40px;
    /* border-radius: 5000px; */
    float: left;
    color: #ffffff;

}

.navbarRework {
    /* background-color: #60d394; */
    background-color: #CDD9FF;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    font-size: 20px;
}

.navbarRework a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}


.navbarRework a:hover {
    background-color: #ddd;
    color: black;
}

.navBrowse {
    display: flex;
    /* display: flex;
    justify-content: left;
    align-items: left;
    float: left; */
    margin-left: 5%;
    float: left;
}

.navFav {

    margin-left: 43%;

}

.navProfile {
    display: flex;
    /* display: flex;
    justify-content: right;
    align-items: right; */
    /* float: right; */
    margin-right: 5%;
    float: right;
}

.btn-outline-dark {
    /* background-color: #d8f5e3;
    border-color: #d8f5e3; */
    background-color: #f4c8e4;
    border-color: #f4c8e4;
}

.btn-light {
    /* background-color: #4eb2d6;
    border-color: #4eb2d6; */
    background-color: #f7455a;
    border-color: #f7455a;
    color: white;
}

.filterButton {
    background-color: #ddd;
    outline-color: black;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 30px;
    display: none;

}

#result {
    display: none;
}

#rangeNums div {
    width: 10vw;
}

#eventInterested{
    width: 100px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}

#goBackButton {
    grid-area: left;
}

#eventLikeButton {
    grid-area: right;
    justify-content: center;
    align-items: center;
}
